/* App */
.App {
  height: 100vh;
  background-color: #eeeeee;
  color: #000000;
  font-family: "raleway", Roboto, sans-serif;
}

.App div.flex {
  display: flex;
  height: 100%;
}

/* Header Component */
.header {
  background-color: #20bf55;
  padding: 0.25em 1em;
}

.header h1.brand {
  font-family: "Satisfy", cursive;
  font-size: 2em;
  margin: 0.5em 2em;
  color: #ffffff;
}

/* BookList Component */
div.book-list-area {
  background-color: #eaf9ef;
  overflow-y: scroll;
  min-width: max-content;
}

input.book-list-search {
  z-index: 1;
  border: none;
  /* height: 5em; */
  background-color: #c2edd0;
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: #ffffff;
}

div.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.book-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.book-item {
  padding: 1em;
}

p.book-item-title {
  font-weight: 700;
}

p.book-item-author {
  font-size: 0.8em;
}

li.book-item:hover {
  background-color: #169c43;
  cursor: pointer;
}

/* BookView Component */
div.book-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

div.book-view .placeholder {
  background-color: #888888;
  height: 300px;
  width: 200px;
}

div.loading-book {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

div.loading-book h2 {
  width: 10em;
  text-align: center;
  line-height: 2em;
  font-size: 2em;
}

/* AddButton Component */
button.add-button {
  position: fixed;
  right: 2em;
  bottom: 2em;
  border-radius: 10px;
  padding: 0.25em 0.5em;
  background-color: #20bf55;
  color: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 1px 2px 5px 2px #88888888;
  font-size: 1.5em;
  font-weight: 700;
}

button.add-button:hover {
  background-color: #169c43;
  box-shadow: 1px 1px 1px 1px #88888888;
}
